.md-header__title {
  font-size: 0.8rem;
}

/* Reduce space after h1 */
.md-content h1 {
  margin-top: 0 !important;
  margin-bottom: 0.3em;
}

/* Reduce top padding of main content */
.md-main__inner {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.md-content {
  padding-top: 0.5rem !important;
}

.md-content__inner {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* Reduce space around grid cards */
.grid.cards {
  margin-top: 0.5em;
  gap: 1.5em;
}
